---
title: Charlie Imhoff
---

<div class="navigation_bar hero">
	<%= image_tag 'charlie.png' %>
	<h1>Charlie Imhoff</h1>
	<hr />
	<div class="items">
		<%= link_to 'Projects',	'projects/' %>
		<%= link_to 'Resume', 'assets/cpimhoff_resume_2017.pdf' %>
		<!-- <%= link_to 'Blog',		'blog/' %> -->
		<!-- <%= link_to 'Comedy',	'comedy/' %> -->
	</div>
</div>

<div class="about">
	<p>
		Software engineer at <a href="https://flatiron.com" target="_blank">Flatiron Health</a>.
	</p>
</div>